
.weather{
    width: 400px;
    background: linear-gradient(45deg,rgb(57, 27, 153),rgb(81, 0, 186));
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.search{
    display: flex;
    align-items: center;
    
    gap: 15px;
}
.search input{
    width: 250px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: navy;
}
.search img{
    width: 40px;
    background-color: white;
    padding: 12px;
    border-radius: 100%;
    margin-top: 7px;
}
.search button{
    background: transparent;
    border: none;
    cursor: pointer;
}
.temp img{
    width: 150px;
}
.temp p{
    font-size: 50px;
    text-align: center;
    color: white;
   
}
.details{
    display: flex;
    align-items: center;
    gap: 80px;
    font-size: 15px;
    color: rgb(179, 179, 179);
    margin-top: 30px;
}
.details img{
    width: 40px;

}
.humidity,.wind-speed{
    display: flex;
    align-items: center;
    gap: 20px;
}
    